.tools-parts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}




@media only screen and (max-width: 576px) {
    .tools-parts {
        display: grid;
        grid-template-columns: 1fr;
    }
}